/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#weatherRegion{
    -fx-border-style: solid;
    -fx-border-width: 2;
}

#showUserName{
    -fx-font-weight: bold;
}
#showAccessLevel{
    -fx-text-fill: green;
}